<header class="page-header">
  {% if section.settings.display_image_cat %}
    <div class="img_cart">
      {% if section.settings.img_cat != blank %}
      <img src="{{ section.settings.img_cat | img_url :"master"}}" alt="{{ collection.title | split: '|' | first }}" />
     {% else %}
        {% capture current %}{% cycle 2%}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
       {% endif %}
      <div class="cat-banner-text">
      	<h2>{{ collection.title | split: '|' | first }}</h2>
        <p>{{ section.settings.cat-text }}</p>
      </div>
      
    </div>
  {% else if collection.image %}
  <div class="img_cart">
      {% if collection.image != blank %}
      <img src="{{ collection.image | img_url :"master"}}" alt="{{ collection.title | split: '|' | first }}" />
     {% else %}
        {% capture current %}{% cycle 2%}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
       {% endif %}
     <div class="cat-banner-text">
      	<h2>{{ collection.title | split: '|' | first }}</h2>
       
      </div>
    </div>
  {% endif %}
 
  {% if settings.enable_multilang %}
  <h2>
    <span class="lang1">{{ collection.title | split: '|' | first }}</span>
    <span class="lang2">{{ collection.title | split: '|' | last }}</span>
  </h2>
  {% else %}
  {% endif %}
</header>
{% schema %}
  {
    "name": "Collection Header",
    "settings": [
	   {
        "type": "checkbox",
        "id": "display_image_cat",
        "label": "Display Image Category?",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "img_cat",
        "label": "Image Category"
      },
	  {
        "type": "text",
        "id": "cat-text",
        "label": "Category text"
      }  
	]
  }
{% endschema %}
